<html>

<head>
    <title>sample</title>
</head>

<body>
    <center>
        <div style="background-color: bisque; width:auto; height :auto;">
            <h2>INTRODUCTION</h2>
    </center>
    <p>In today’s fast-changing business environment, it’s extremely important to be able to respond to client needs in the most effective and timely manner. An online store is a virtual store on the Internet where customers can browse the catalog and select
        products of interest. Online stores do not have space constraints and a wide variety of products can be displayed on websites. It helps the analytical buyers to purchase a product after a good search.</p>
    <center>
        <div style="background-color: aquamarine;width:auto; height :auto;">
            <h2>SYSTEM ANALYSIS</h2>
        </div>
    </center>
    <p>System analysis is a detailed studyof various operation performed by a system and their relationship withinand outside of the system.System analysisdefinition simply means “figuring out what tomake it before”.</p>
    <h4>System analysis can be categorized into five parts:</h4>
    <ul type="square">
        <li><a href="https://theintactone.com/2019/03/29/sad-u2-topic-1-systems-planning-and-investigation/"> System planning and investigation</a></li>
        <li><a href="https://projectvictor.com/knowledge-base/information-gathering-techniques/#:~:text=Managing%20information%20involves%20gathering%20and,across%20different%20kinds%20of%20sources.">Information gathering</a></li>
        <li><a href="https://www.tutorialspoint.com/system_analysis_and_design/system_analysis_and_design_structured.htm">analysing tools for structured analysis></a></li>
        <li><a href="https://www.geeksforgeeks.org/types-of-feasibility-study-in-software-project-development/">Feasibility study></a></li>
        <li><a href="https://www.projectmanager.com/blog/cost-benefit-analysis-for-projects-a-step-by-step-guide">Cost/Benefit analysis</a></li>
        </ol>
        <h2>is a {{lng}} programming language </h2>
        <h3>welcome {{ang}} in world </h3>
</body>

</html>